PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.pdb
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.dll
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.csprojAssemblyReference.cache
PluginAddBill/FollowupPlugin/bin/Debug/FollowupPlugin.pdb
PluginAddBill/FollowupPlugin/bin/Debug/FollowupPlugin.dll
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide-wal
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide-shm
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide
PluginAddBill/.vs/FollowupPlugin/v15/.suo
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/db.lock
un Documento.txt
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.csproj.CoreCompileInputs.cache
