PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.pdb
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.dll
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.csprojAssemblyReference.cache
PluginAddBill/FollowupPlugin/bin/Debug/FollowupPlugin.pdb
PluginAddBill/FollowupPlugin/bin/Debug/FollowupPlugin.dll
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide-wal
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide-shm
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/storage.ide
PluginAddBill/.vs/FollowupPlugin/v15/.suo
PluginAddBill/.vs/FollowupPlugin/v15/Server/sqlite3/db.lock
un Documento.txt
PluginAddBill/FollowupPlugin/obj/Debug/FollowupPlugin.csproj.CoreCompileInputs.cache
/PluginAddBill/.vs/FollowupPlugin/v16/.suo
/PluginAddBill/.vs/FollowupPlugin/v16/Server/sqlite3/db.lock
/PluginAddBill/.vs/FollowupPlugin/v16/Server/sqlite3/storage.ide
/PluginAddBill/FollowupPlugin/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/PluginAddBill/FollowupPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PluginAddBill/FollowupPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PluginAddBill/FollowupPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*cache
/AboxCrmPlugins/AboxCrmPlugins/obj/
/SinglePlugins/CreateContactAsPatient/CreateContactAsPatient/obj/
/SinglePlugins/PluginAddBill/FollowupPlugin/obj/
packages
/AboxCrmPlugins/AboxCrmPlugins/bin/
*pdb
/Notas.rtf
/~$Notas.rtf
/AboxCrmPlugins/.vs/AboxCrmPlugins/v16/.suo
/AboxCrmPlugins/AboxCrmPlugins/AboxCrmPlugins.snk
/SinglePlugins/CreateContactAsPatient/.vs/CreateContactAsPatient/v16/.suo
/SinglePlugins/PluginAddBill/.vs/FollowupPlugin/v16/.suo
/SinglePlugins/PluginAddBill/.vs/FollowupPlugin/v16/Server/sqlite3/db.lock
*.dll
/SinglePlugins/PluginAddBill/FollowupPlugin.sln
*snk
AssemblyInfo.cs
*xml
/SinglePlugins/PluginAddBill/.vs/FollowupPlugin/v16/Server/sqlite3/storage.ide
/SinglePlugins/PluginAddBill/FollowupPlugin/FollowupPlugin.csproj.user
ILMerge.props
ILMergeOrder.txt
/SinglePlugins/CreateContactAsPatient/CreateContactAsPatient.sln
/AboxCrmPlugins/AboxCrmPlugins.sln
/CrmAboxApi/CrmAboxApi/Web.config.backup.1
/CrmAboxApi/CrmAboxApi/bin/roslyn/csc.exe.config
/CrmAboxApi/CrmAboxApi/bin/roslyn/csi.exe.config
/CrmAboxApi/CrmAboxApi/bin/roslyn/vbc.exe.config
*.exe.config
*.exe.config
*.dll.config
*.rsp
obj/
*.exe
*.targets
*.csproj.user
/CrmAboxApi/CrmAboxApi/Web.Debug.config
/CrmAboxApi/CrmAboxApi/Web.Release.config
/CrmAboxApi/.vs/CrmAboxApi/config/applicationhost.config
/CrmAboxApi/CrmAboxApi/Global.asax
/CrmAboxApi/.vs/CrmAboxApi/v16/.suo
/CrmAboxApi/CrmAboxApi.sln
*.log
